

<div class="row" *ngIf="usersData.length > 0; else noUsers">
    <div class="col-md-12 text-right">
        <!-- Relative Routing -->
        <button mat-mini-fab color="accent" class="icon"
        routerLink="addUser"><mat-icon>plus_one</mat-icon></button> 
        <!-- <button mat-flat-button color="accent"
        routerLink="/users/addUser">Add User</button> Absolute Routing -->
    </div>
    <div class="col-md-4">
        <mat-list role="list">
            <!-- <mat-list-item role="listitem"
                *ngFor="let user of usersData"
                [routerLink]="['/users', user.userId ]" << Relative routing
                [queryParams]="{userRole : user.userRole}"
                (click)="getUserId(user.userId)"
                [ngClass]="{
                    active : user.userId === selecteduserId
                } or (click)="selecteduserId = user.userId"
                [ngClass]="{
                    active : user.userId === selecteduserId
                }">{{user.userName}}</mat-list-item>
            </mat-list> -->
        
        <mat-list-item role="listitem"
                *ngFor="let user of usersData"
                [routerLink]="[user.userId]"
                [queryParams]="{userRole : user.userRole}"
                routerLinkActive="active">{{user.userName}}
        </mat-list-item>
        
        </mat-list>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #noUsers>
    <p class="alert alert-warning">
        No Users data available
    </p>
</ng-template>

<!-- queryParams are object -->