<main class="mainAuth">
    <mat-card class="authCard">
        <ng-container *ngIf="allReadyHasAcc">
            <mat-card-header>
                <mat-card-title>
                    <h5>
                        Log In Form
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="logInForm" (ngSubmit)="onLogIn()">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email Id</mat-label>
                        <input type="text" matInput formControlName="email">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Password</mat-label>
                        <!-- <input type="password" matInput formControlName="password"> -->
                        <input type="password" matInput formControlName="password" id="password" 
                        [type]="showPassword? 'text' : 'password'">
                        <i class="fas" [ngClass]="{'fa-eye-slash' : !showPassword , 'fa-eye' : showPassword}"
                        (click)="showPassword = !showPassword"></i>
                    </mat-form-field>

                    <mat-card-actions class="text-right mr-1">
                        <button mat-raised-button color="primary" type="submit">Log In</button>
                    </mat-card-actions>

                    <!-- <a mat-raised-button href="javascript:;" (click)="allReadyHasAcc = !allReadyHasAcc">
                        Dont Have Account ?
                    </a> -->

                </form>
            </mat-card-content>
            
        </ng-container>

        <ng-container *ngIf="!allReadyHasAcc">
            <mat-card-header>
                <mat-card-title>
                    <h5>
                        Sign Up Form
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form>
                    
                    <!-- <a mat-raised-button href="javascript:;" (click)="allReadyHasAcc = !allReadyHasAcc">
                       Already Has Account ?
                    </a> -->

                </form>
            </mat-card-content>
        </ng-container>

        <a mat-raised-button href="javascript:;" (click)="allReadyHasAcc = !allReadyHasAcc">
            {{allReadyHasAcc? 'Dont Have Account?' : 'Already Has Account ?'}}
        </a>
    </mat-card>
</main>